p{
    line-height: 2rem;
    // padding: 1rem;
}
h2{
   
    // padding: 1rem;
    // margin-top: 1rem;
}
.terms{
    background-color: #1d5152;
    color: white;
    padding: 2rem;
    text-align: center;
}